*{
  font-family: 'Roboto', sans-serif;
}

.margin-top{
  margin-top: 50px;
}

.margin-bottom{
  margin-bottom: 50px;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.up{
  margin-top: 25%
}

.down{
  margin-top: 25%
}
/* Style nav */

.resize-logo{
  height: 40px;
}

.nav{
  position: relative;
}

.navbar-default .navbar-nav > li > a {
  color: #195AFF;
}

.btn-nav{
  position: absolute;
  top: -50%;
  transform: translateY(50%);
  width: 80px;
  background-color: #fff;
  border-radius: 5px;
  color: #0049FF;
  border-color: #0049FF;
}

.color-link{
  color: #0049FF;
}

/* /Style nav */

/* testata jumbotron */

.sfondo{
  background-image: url(../img/bg-home.svg);
  background-size: cover;
  color: #fff;
}

.box-jumbo{
  text-align: center;
  margin-left: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.box-jumbo input{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 25px;
  color: black;
}

::placeholder{
  color: #969696;
  opacity: 1;
}

.title-box-1{
  color: #031c4e;
}

.title-box-2{
  color: #1173FF;
}

.btn-box-jumbo1{
  width: 100%;
  background-color: #1173FF;
  color: white;
  border-radius: 5px;
}

.btn-box-jumbo2{
  width: 100%;
  background-color: #FFF;
  color: #969696;
  border-radius: 5px;
  position: relative;
}

.logo-g{
  height: 20px;
  position: absolute;
  right: 90%
}

.jumbotron .box-jumbo p{
  color: #031C4E;
  font-size: 12px;
  margin-top: 20px;
}

.jumbotron .box-jumbo p span{
  color: #3387FF;
  text-decoration: underline;
}

/* /testata jumbotron */

/* corpo centrale */

.slogan-main{
  color: #5B6987;
  text-align: center;
  margin-bottom: 50px;
}

.img-slogan-1,
.img-slogan-2,
.img-slogan-3,
.img-slogan-4,
.img-slogan-5,
.img-slogan-6{
  height: 50px;
  width: 150px;
  margin-right: 100px;
}

.under-image{
  color: #3387FF;
  margin-top: 40px;
}

.bg-color-container{
  background-color: #F3F5F9;
}
.blue-title{
  color: #0E2656;
  font-weight: bold;
}

.p-color{
  color: #5B6987;
}

.elenco-box{
  border-left: 1px solid #5B6987;
  font-size: 30px;
}

.resize-img-designed{
  height: 500px;
}

.checkbox-round {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-left: 4px;
}

.checkbox-round:hover {
  background-color: #0E2656;
}

.insieme-checkbox{
  height: 10px;
  width: 66.5px;
  margin: 0 auto;
}

/* Gradient */

.title-gradient{
  font-weight: bold;
  margin-bottom: 20px;
}

.sfondo-gradient{
  background: rgb(0,45,242);
  background: linear-gradient(90deg, rgba(0,45,242,1) 7%, rgba(0,57,182,1) 52%);
  color: white;
  margin-top: 50px;
  padding-top: 50px;
}

.element-gradient{
  border-bottom: 1px solid white;
  padding-top: 2px;
}


.resize-img-rockerbox{
  height: 50px;
}

.btn-footer{
  width: 20%;
  color: #1173FF;
  background-color: #fff;
}
